li {
  padding: 20px; }
  li a {
    color: blue;
    padding: 20px; }

.contendoresFooters {
  padding: 20px;
  background-color: yellowgreen; }

.redes, .logoF {
  text-align: center;
  font-size: 20px;
  margin-top: 50px; }

.logoF {
  padding: 30px; }

.mapa {
  height: 200px;
  width: 180px;
  margin-left: 204px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .mapa {
    margin-left: 70px;
    margin-top: 15px; } }

.parrafo1 {
  color: #000;
  text-align: center;
  font-size: 18px;
  padding-top: 40px; }

.textoqs {
  padding: 80px;
  text-align: center; }

.textoqs2 {
  padding: 80px;
  text-align: center; }

.videoMain {
  display: flex;
  justify-content: center; }

.logo {
  text-align: center;
  padding: 20px; }

.fotosqs {
  text-align: center;
  padding: 20px;
  width: 596px;
  height: 396px; }

.fotosqs2 {
  text-align: center;
  padding: 20px;
  width: 596px;
  height: 396px; }

.fotose1 {
  text-align: center;
  margin-left: -46px;
  padding: 20px;
  width: 596px;
  height: 396px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .fotosqs2 {
    text-align: center;
    margin-left: -15px;
    padding: 20px;
    width: 350px;
    height: 309px; }
  .fotosqs {
    text-align: center;
    margin-left: -15px;
    padding: 20px;
    width: 350px;
    height: 309px; }
  .fotose1 {
    margin-left: -15px;
    padding: 20px;
    width: 350px;
    height: 309px; } }
