li {
  padding: 20px; }
  li a {
    color: blue;
    padding: 20px; }

.contendoresFooters {
  padding: 20px;
  background-color: yellowgreen; }

.redes, .logoF {
  text-align: center;
  font-size: 20px;
  margin-top: 50px; }

.mapa {
  height: 200px;
  width: 180px;
  margin-left: 204px; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .mapa {
    margin-left: 75px;
    margin-top: 15px; } }

.parrafo1 {
  color: #000;
  text-align: center;
  font-size: 18px;
  padding-top: 40px; }

.videoMain {
  display: flex;
  justify-content: center; }

.logo {
  text-align: center; }
